

body {
  margin: 0;
  padding: 0;
}

//common
a{ 
	color: black;
	&:hover{
		color: #aaa;
		text-decoration: none;
	}  
} 
 
// header 
header{     
	border-bottom: 9px solid #000;
	padding: 45px 20px;
	position: fixed;
	top:0;
	width: 100%;
}
nav{ 
	float: right;
	a{
		display: inline-block;
		vertical-align: top;
		padding: 0 30px
	}
}  