body {
  margin: 0;
  padding: 0; }

a {
  color: black; }
  a:hover {
    color: #aaa;
    text-decoration: none; }

header {
  border-bottom: 9px solid #000;
  padding: 45px 20px;
  position: fixed;
  top: 0;
  width: 100%; }

nav {
  float: right; }
  nav a {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px; }
